/*Sytle sheet for homework 1 - personal webpage*/

*{
    box-sizing: border-box;
}
/*style for index.html-----------------------------------------------*/
.flex-container-h{
    display: flex;
    align-items: center;
    margin-top: 20pt;
}
.profile-pic img{
    margin-right: 22pt;
    padding-left: 25pt;
    border-radius: 99%;
    object-fit: cover;
}
main{
    padding-left: 30pt;
    padding-right: 30pt;
    padding-bottom: 30pt;
    padding-top: 15pt;
}

/*style for about.html----------------------------------------------*/

aside{
    width: 25%;
    float: left;
    padding: 5px;
}
section{
    padding-left: 20px;
    padding-top: 40px;
    width: 75%;
    padding-right: 40pt;
    float: right;
    text-align: center;
}


 /*style for contact.html----------------------------------------------*/
 /*There is some error in the formatting that is causing the page to 
 shift left when you shrink the screen and I am not sure how to fix*/
 .flex-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0cm;
 }
 .c_header{
    text-align: center;
    margin: 20pt;
    padding-left: 50pt;
    padding-right: 50pt;
    position: relative;
    background-color: rgb(73, 64, 60);
    width: 100%;
 }
 .contact{
    text-align: center;
    margin: 20pt;
    padding-left: 50pt;
    padding-right: 50pt;
    position: relative;
    background-color: rgb(73, 64, 60);
 }

.contacth1{
    background-color: dimgrey;
    padding: 10pt;
    color: antiquewhite;
}

form label, form input, form button {
    display: block;         
    margin-bottom: 10px;    
    width: 100%;            
}


/*style for courses.html--------------------------------------------------*/
.c_h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50pt;
    background-color: beige;
}
.table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    margin-bottom: 30pt;
}


/*style for header, footer, and body--------------------------------------------------*/

.top-image {
    width: 100%;      
    height: auto;     
    display: block;   
    z-index: 0;       
}
footer{
    background-color: darkgrey;
    padding: 20pt;
    text-align: left;
    display: block;
    clear: both;
}
body{
    background-color: rgb(246, 246, 232);
    margin: 0;
}

/*style for NavBar--------------------------------------------------*/
.navbar {
    background: gray;
    font-family: cambria;
    padding: 10px;         
    text-decoration: none;
    position: relative;     /* Position relative makes sure this follows the doc flow */
    margin-top: 0;          
}

/* Navbar content styling */
.navdiv {
    display: flex;                
    align-items: center;          
    justify-content: space-between; 
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

/* List items (Navbar links) */
ul {
    list-style: none;  
    display: flex;   
}

li {
    margin-right: 25px;   
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;   /* Remove underline */
}

/* Hover effects */
.logo a:hover, li a:hover {
    color: burlywood;
}

